<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.videohacks"
    android:versionCode="33"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" > -->
        <activity
            android:name="com.android.videohacks.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.videohacks.ui.ReadPixelsActivity"
            android:label="@string/title_activity_read_pixels" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.PlayMovieActivity"
            android:label="@string/title_activity_play_movie" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.LiveCameraActivity"
            android:label="@string/title_activity_live_camera" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.CameraCaptureActivity"
            android:label="@string/title_activity_camera_capture" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.TextureViewGLActivity"
            android:label="@string/title_activity_texture_view_gl" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.TextureViewCanvasActivity"
            android:label="@string/title_activity_texture_view_canvas" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.RecordFBOActivity"
            android:label="@string/title_activity_record_fbo"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

            <!-- android:screenOrientation="landscape" -->
            <!--
                 Without the NoTitleBar theme, the widgets are partially transparent,
                 and the SurfaceView colors bleed through.  Not sure why that is.
            -->
            <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->
        </activity>
        <activity
            android:name="com.android.videohacks.ui.ChorTestActivity"
            android:label="@string/title_activity_chor_test" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.DoubleDecodeActivity"
            android:label="@string/title_activity_double_decode" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.ContinuousCaptureActivity"
            android:label="@string/title_activity_continuous_capture" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.SoftInputSurfaceActivity"
            android:label="@string/title_activity_soft_input_surface" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.HardwareScalerActivity"
            android:label="@string/title_activity_hardware_scaler"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.GlesInfoActivity"
            android:label="@string/title_activity_gles_info" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.PlayMovieSurfaceActivity"
            android:label="@string/title_activity_play_movie_surface" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.MultiSurfaceActivity"
            android:label="@string/title_activity_multi_surface_test"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.CodecOpenActivity"
            android:label="@string/title_activity_codec_open" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.TextureUploadActivity"
            android:label="@string/title_activity_texture_upload" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.ColorBarActivity"
            android:label="@string/title_color_bar"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.ScheduledSwapActivity"
            android:label="@string/title_scheduled_swap"
            android:theme="@android:style/Theme.Black" >
        </activity>
        <activity
            android:name="com.android.videohacks.ui.TextureFromCameraActivity"
            android:label="@string/title_texture_from_camera"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>
